<div class="card mb-3 d-flex " style="width: 840px;height: 250px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{series.logoImgUrl}}" class="card-img" alt="..." width="300" height="225">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{series.name}}</h5>
        <p class="card-text"><small class="text-muted">{{series.description}}</small></p>
        <p class="card-text" *ngIf="series.isTeam || series.isLeague"><small class="text-muted">
          <span *ngIf="series.isTeam">Team</span> <span *ngIf="series.isTeam && series.isLeague"> & </span><span *ngIf="series.isLeague">League</span> Series</small></p>
        <button *ngIf="isAuthenticated | async" type="button" class="btn btn-primary mr-2" [routerLink]="[series.id]" [disabled]="!(isVerified | async)">My Paints</button>
      </div>
    </div>
  </div>
</div>
