<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">racespot.media Privacy Policy</h4>
    <button type="button" class="close" (click)="modal.dismiss()">
      <span>&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <p>This privacy policy was updated on the 28th of March to support email notifications for paint files. To enable email notifications, please opt-in via the <a href="/settings">Settings page.</a> By continuing to use the platform, you agree to these updates.</p>

          <p>racespot.media is a website developed by RaceSpot TV. This privacy policy will explain how our organization uses the personal data we collect from you when you use our website.</p>

          Topics:
          <ul>
            <li>What data do we collect?</li>
            <li>How do we collect your data?</li>
            <li>How will we use your data?</li>
            <li>How do we store your data?</li>
            <li>What are your data protection rights?</li>
            <li>What are cookies?</li>
            <li>How do we use cookies?</li>
            <li>What types of cookies do we use?</li>
            <li>How to manage your cookies</li>
            <li>Privacy policies of other websites</li>
            <li>Changes to our privacy policy</li>
            <li>How to contact us</li>
            <li>How to contact the appropriate authorities</li>
          </ul>

          <h5>What data do we collect?</h5>
          RaceSpotTV collects the following data:
          <ul>
            <li>Email Address</li>
            <li>iRacing ID</li>
            <li>iRacing Name</li>
            <li>iRacing Team ID</li>
            <li>iRacing Team Name</li>
          </ul>

          <h5>How do we collect your data?</h5>
          You directly provide RaceSpotTV with some of the data we collect. We collect data and process data when you:

          <ul>
            <li>Linking your iRacing account with our system provides us with your iRacing ID which is then saved</li>
            <li>When you upload a team paint by providing an iRacing Team ID, we save the team ID in our system</li>
          </ul>

          RaceSpotTV may also receive your data indirectly from the following sources:
          <ul>
            <li>Creating an account via Google or Facebook provides us with your email address on either platform</li>
            <li>When you link your iRacing account, we save your iRacing name to your user profile</li>
            <li>When you upload a team paint using the iRacing Team ID, we save the iRacing Team Name</li>
          </ul>

          <h5>How will we use your data?</h5>
          RaceSpotTV collects your data so that we can:

          <ul>
            <li>Process Paint Files and organize them into broadcast paint packs with the correct file names</li>
            <li>Send Transactional Emails when you update your Account Settings</li>
            <li>Send Email Updates if permitted relating to Paint Files</li>
            <li>When necessary, send emails relating to updates to our privacy policy.</li>
          </ul>

          <p>When RaceSpotTV uses your data, the only data that is ever shared with a third-party is when we make our requests to the iRacing API or when we generate an email using the Amazon SES API. We use iRacing IDs to pull further data from the platform as described earlier and if permitted, send email updates relating to your paints.</p>

          <h5>How do we store your data?</h5>
          <p>RaceSpotTV securely stores your data at on a cloud-based database with encryption enabled.</p>
          <p>RaceSpotTV will keep your paint data for a maximum of one year. Once this time period has expired, we will delete your paint data through an automated system to clear old series uploads.</p>
          <p>RaceSpotTV will keep your user data for a maximum of one year. Once this time period has expired, if you have not uploaded any paint files for a full year, we will delete your account and all associated paint files.</p>

          <h5>What are your data protection rights?</h5>
          RaceSpotTV would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:

          <ul>
            <li><b>The right to access</b> – You have the right to request RaceSpotTV for copies of your personal data. We may charge you a small fee for this service.</li>
            <li><b>The right to rectification</b> – You have the right to request that RaceSpotTV correct any information you believe is inaccurate. You also have the right to request RaceSpotTV to complete the information you believe is incomplete.</li>
            <li><b>The right to erasure</b> – You have the right to request that RaceSpotTV erase your personal data, under certain conditions.</li>
            <li><b>The right to restrict processing</b> – You have the right to request that RaceSpotTV restrict the processing of your personal data, under certain conditions.</li>
            <li><b>The right to object to processing</b> – You have the right to object to RaceSpotTV’s processing of your personal data, under certain conditions.</li>
            <li><b>The right to data portability</b> – You have the right to request that RaceSpotTV transfer the data that we have collected to another organization, or directly to you, under certain conditions.</li>
          </ul>

          <p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our email: contact@racespot.tv</p>

          <h5>Cookies</h5>
          <p>Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information. When you visit our websites, we may collect information from you automatically through cookies or similar technology</p>

          <p>For further information, visit <a href="allaboutcookies.org">allaboutcookies.org</a>.</p>

          <h5>How do we use cookies?</h5>
          RaceSpotTV uses cookies in a range of ways to improve your experience on our website, including:
          <ul>
            <li>Keeping you signed in</li>
          </ul>

          <h5>What types of cookies do we use?</h5>
          <p>There are a number of different types of cookies, however, our website uses:</p>
          <ul>
            <li>
            Security – RaceSpotTV uses these cookies so that we recognize you on our website.
            </li>
          </ul>

          <h5>How to manage cookies</h5>
          <p>You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, in a few cases, some of our website features may not function as a result.</p>

          <h5>Privacy policies of other websites</h5>
          <p>The RaceSpotTV website contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to another website, you should read their privacy policy.</p>

          <h5>Children's Privacy</h5>
          <p>Our Service does not address anyone under the age of 13 ("Children").</p>
          <p>We do not knowingly collect personally identifiable information from anyone under the age of 13. If you are a parent or guardian and you are aware that your Children has provided us with Personal Data, please contact us. If we become aware that we have collected Personal Data from children without verification of parental consent, we take steps to remove that information from our servers.</p>

          <h5>Changes to our privacy policy</h5>
          <p>RaceSpotTV keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on 20 July 2020.</p>

          <h5>How to contact us</h5>
          <p>If you have any questions about RaceSpotTV’s privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us. Email us at: contact@racespot.tv</p>
          <h5>How to contact the appropriate authority</h5>
          Should you wish to report a complaint or if you feel that RaceSpotTV has not addressed your concern in a satisfactory manner, you have the right to complain to a Data Protection Authority about our collection and use of your Personal Data.
          <br>For more information, please contact your local data protection authority in the European Economic Area (EEA) if you are in the EU to file a complaint under General Data Protection Regulation (GDPR). If you are based in California, please contact your local authorities to file a complaint under the California Consumer Privacy Act (CCPA).<br>

          <h5>Change Log:</h5>
          <ul>
            <li>March 28th, 2021: Add Email Policy for Privacy Policy Updates & Opt-In Paint File Updates</li>
          </ul>
        </div>
      </div>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>
