<header class="navigation">
  <ul class="menu-items item-list">
    <li class="item no-hover">
      <a routerLink="/">
        <img class="branding-logo" src="https://racespot.media/assets/racespot_logo_b.png">
      </a>
    </li>
  </ul>
  <div class="profile">
    <button class="btn btn-outline-dark mr-2" *ngIf="(isAuthenticated | async) && !(isVerified | async) && (canSendVerification | async)" [routerLink]="'/verify'">Verify iRacing Account</button>
    <button class="btn btn-outline-dark mr-2" *ngIf="(isAuthenticated | async) && !(isVerified | async) && !(canSendVerification | async)" disabled="true">Pending iRacing Verification</button>
    <a class="btn btn-dark mr-2" *ngIf="!(isAuthenticated | async)" href="{{baseUrl}}/accounts/google" role="button">
      Log in with Google
    </a>
    <ul class="navbar-nav" *ngIf="isAuthenticated | async">
      <li class="nav-item dropdown" ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-dark mr-2" id="notificationDropdown" ngbDropdownToggle>
          <!-- empty bell -->
          <i *ngIf="alerts.length == 0" class="bi bi-shield-check"></i>
          <!-- filled bell -->
          <i *ngIf="alerts.length > 0" class="bi bi-shield-fill-exclamation"></i>
        </button>
        <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="notificationDropdown">
          <span *ngIf="alerts.length == 0" class="dropdown-item-text">No alerts to show!</span>
          <button *ngFor="let alert of alerts" class="dropdown-item" [routerLink]="['./', alert.seriesId]">Your {{alert.type}} for {{alert.seriesName}} is {{alert.status}}</button>
          <!--<button class="dropdown-item" [routerLink]="['./settings']">Settings</button>-->
        </div>
      </li>
    </ul>
    <ul class="navbar-nav" *ngIf="isAuthenticated | async">
      <li class="nav-item dropdown" ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-dark mr-2" id="navbarDropdown" ngbDropdownToggle>
          {{displayName | async}}
        </button>
        <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="navbarDropdown">
          <!--<button class="dropdown-item" [routerLink]="['./settings']">Settings</button>-->
          <button class="dropdown-item" *ngIf="isAdmin | async" [routerLink]="['/admin']">Admin Tool</button>
          <button class="dropdown-item" *ngIf="isVerified | async" [routerLink]="['/settings']">Settings</button>
          <button class="dropdown-item" (click)="logout()">Logout</button>
        </div>
      </li>
    </ul>
    <a href="https://discord.gg/f95egU6" target="_blank" class="btn btn-outline-dark mr-2" placement="left" ngbTooltip="Technical Support via Discord!">
      <i class="bi bi-question-octagon"></i>
    </a>
  </div>
</header>
<!-- Page Content Holder -->
<div class="content">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <footer class="footer">
    <p>Copyright &copy; 2020 RaceSpot TV. Licensed under AGPL - Source Code available on <a href="https://github.com/kanki6315/racespot-livery-ui">GitHub</a>. <a routerLink="/privacy-policy">Privacy Policy</a></p>
  </footer>
</div>
