<form [formGroup]="uploadForm" novalidate xmlns="http://www.w3.org/1999/html">
  <div class="row" *ngIf="successMessage">
    <ngb-alert class="col-sm-12" type="success" (close)="successMessage = ''">{{ successMessage }}</ngb-alert>
  </div>
  <div class="row" *ngIf="isCarSelected() && priorCar !== null && priorCar.length > 0 && priorCar !== carName.value">
    <ngb-alert type="danger" dismissible="false">If you change your car, you will lose your existing paint. Please ensure you upload a new Spec Map.</ngb-alert>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-3">
        <label for="livery-type-{{series.id}}">Livery Type</label>
        <select class="form-control" id="livery-type-{{series.id}}" formControlName="liveryType">
          <option *ngFor="let liveryType of liveryTypes" [ngValue]="liveryType">{{liveryType}}</option>
        </select>
      </div>
      <div class="col-sm-3" *ngIf="isCarSelected()">
        <label for="car-name-{{series.id}}">Car</label>
        <select class="form-control" id="car-name-{{series.id}}" formControlName="carName">
          <option *ngFor="let carName of carNames" [ngValue]="carName">{{carName}}</option>
        </select>
      </div>
      <div class="col-sm-3" *ngIf="team">
        <label for="iracing-id-{{series.id}}">Team ID</label>
        <input type="text" id="iracing-id-{{series.id}}" class="form-control" formControlName="iracingId">
      </div>
      <div class="col-sm-1" *ngIf="isRejected()" >
        <i class="bi-exclamation-triangle"style="font-size: 3rem; color: red;"></i>
      </div>
    </div>
  </div>
  <div class="form-check mb-2" *ngIf="this.isEditable && this.liveryType.value === 'Car' && this.series.isLeague">
    <input class="form-check-input" type="checkbox" id="isCustomNumber" formControlName="isCustomNumber">
    <label class="form-check-label" for="isCustomNumber">
      Check box if paint has custom number decals
    </label>
  </div>
  <div class="custom-file" *ngIf="isEditable">
    <input type="file" accept=".tga" class="custom-file-input" id="livery-{{series.id}}"
           formControlName="liveryFile" (change)="onFileAdded($event)">
    <label class="custom-file-label" for="livery-{{series.id}}">
      {{ getLiveryFileName() || 'Choose livery' }}
    </label>
  </div>
  <button *ngIf="!isEditable && hasLiveryPreview() && !isRejected()" type="button" class="btn btn-danger mt-2 mb-2"  mwlConfirmationPopover
          popoverTitle="Reject Livery"
          popoverMessage="Reject Livery"
          confirmText="Reject?"
          placement="left"
          (confirm)="rejectLivery()" style="float: right;">
    <span *ngIf="isRejecting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Reject Paint
  </button>
  <button *ngIf="!isEditable && hasLiveryPreview() && isUpdatedAfterRejection()" type="button" class="btn btn-success mt-2 mb-2"  mwlConfirmationPopover
          popoverTitle="Approve Livery"
          popoverMessage="Approve Livery"
          confirmText="Approve?"
          placement="left"
          (confirm)="updateLivery('Resolved')" style="float: right;">
    <span *ngIf="isRejecting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Approve Paint
  </button>
  <button *ngIf="!isEditable && hasLiveryPreview() && isUpdatedAfterRejection()" type="button" class="btn btn-danger mt-2 mb-2"  mwlConfirmationPopover
          popoverTitle="Re-Reject Livery"
          popoverMessage="Re-Reject Livery"
          confirmText="Re-Reject?"
          placement="left"
          (confirm)="updateLivery('Rejected')" style="float: right;">
    <span *ngIf="isRejecting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Re-reject Paint
  </button>


  <button *ngIf="isEditable" type="button" class="btn btn-primary mt-2 mb-2" (click)="uploadLivery()">
    <span *ngIf="isUploading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    <span *ngIf="isUploading"> </span>
    <span *ngIf="!hasLiveryPreview()">Upload</span>
    <span *ngIf="hasLiveryPreview()">Update</span>
  </button>
  <input #specUpload type="file" accept=".mip" (click)="specUpload.value = null"(change)="addSpecMap($event)" style="display:none">
  <button type="button" *ngIf="isEditable && hasCar() && this.liveryType.value === 'Car'" class="btn btn-primary mt-2 mb-2 ml-2" (click)="specUpload.click()">
    <span *ngIf="isUploadingSpec" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    <span *ngIf="isUploadingSpec"> </span>
    <span *ngIf="hasSpecMap()">Change Spec Map</span>
    <span *ngIf="!hasSpecMap()">Add Spec Map</span>
  </button>
  <button *ngIf="isEditable && hasLiveryPreview()" type="button" class="btn btn-danger mt-2 mb-2" style="float: right;"  mwlConfirmationPopover
          [popoverTitle]="getDeletionTitle()"
          [popoverMessage]="getDeletionMessage()"
          [confirmText]="getDeletionButton()"
          placement="left"
          (confirm)="deleteLivery()">
    <span *ngIf="isDeleting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Delete
  </button>
  <p *ngIf="isUploading || isUploadingSpec || isDeleting">
    <ngb-progressbar type="success" textType="white" [value]="uploadProgress"></ngb-progressbar>
  </p>
  <div class="row box" *ngIf="hasLiveryPreview()">
    <img class="img-thumbnail h-75 w-75 align-content-center" [src]="getLiveryPreview()"/>
  </div>
</form>
